/* Smaller Device */
@media screen and (max-width:576px) {
    .top-div {
        height: 472px;
        width: 334px;
        left: 21px;
        margin-top: 44px;

        display: flex;
        flex-direction: column;

        background-color: black;
        border-radius: 15px;
    }

    .article-div {
        width: 258px;
        height: 178px;
        padding-top: 0px;
        padding-left: 0px;
        padding-right: 0px;
    }

    h1 {
        width: 228px;
        height: 66px;
        color: rgb(255, 255, 255);
        margin-left: 48px;
        margin-top: -117px;
        font-size: 22px;
        font-weight: 700;
        line-height: 33px;
        text-align: center;
    }

    #top-p {
        display: none;
        color: rgb(250, 243, 243);
        font-size: 12.8;
        font-weight: 400;
    }

    .top-p-2 {
        color: rgb(218, 210, 210);
        position: absolute;
        width: 258px;
        height: 48px;
        left: 59px;
        top: 146px;
        font-size: 12.8;
        font-weight: 400;
    }

    #watch-live {

        display: flex;
        flex-direction: row;
        align-items: flex-start;
        padding: 8px 12px;
        gap: 10px;
        position: absolute;
        width: 109px;
        height: 29px;
        left: 108px;
        top: 210px;
        margin-top: 22px;
    }

    .banner-div img {
        position: absolute;
        width: 233px;
        height: 245px;
        left: 84px;
        top: 271px;

    }
}