/* Smaller Device */
@media screen and (max-width:576px) {
    body {
        position: relative;
        width: 375px;
        height: 3587px;

        background: #FFFFFF;
    }

    .top-div {
        height: 472px;
        width: 334px;
        left: 21px;
        margin-top: 44px;

        display: flex;
        flex-direction: column;

        background-color: black;
        border-radius: 15px;
    }

    .article-div {
        position: absolute;
        width: 258px;
        height: 178px;
        left: 59px;
        top: 72px;

    }

    h1 {
        position: absolute;
        width: 228px;
        height: 66px;
        left: 74px;
        top: 72px;

        font-family: 'Poppins';
        font-style: normal;
        font-weight: 700;
        font-size: 22px;
        line-height: 33px;
        text-align: center;

        color: #FFFFFF;
    }

    #top-p {
        display: none;
        color: rgb(250, 243, 243);
        font-size: 12.8;
        font-weight: 400;
    }

    .top-p-2 {
        position: absolute;
        width: 258px;
        height: 48px;
        left: 59px;
        top: 146px;

        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        /* or 171% */

        text-align: center;

        color: rgba(255, 255, 255, 0.8);
    }

    #watch-live {

        display: flex;
        flex-direction: row;
        align-items: flex-start;
        padding: 8px 12px;
        gap: 10px;

        position: absolute;
        width: 161px;
        height: 40px;
        left: 108px;
        top: 210px;

        background: #DD0000;
        border-radius: 5px;
    }

    .banner-div img {
        position: absolute;
        width: 233px;
        height: 245px;
        left: 84px;
        top: 271px;

    }
}